h6 {
    text-align: center;
}

iframe {
    height: 100%;
    width: 100%;
}

#topbar {
    background-color: lightblue;
    position: relative;
    border: 3px solid blue;
    height: 10%;
}

#mainSec {
    position: relative;
    height: 80%;
}

#sideBar {
    background-image: linear-gradient(lightblue, blue);
    border: 1px solid black;
    height: 100%;
    width: 20%;
}

#mainGame {
    position: absolute;
    top: 3;
    left: 21%;
    height: 95%;
    width: 78%;
}