#statBlock {
    border: 1px solid black;
    height: 10%;
}

.statSpan {
    display: inline-block;
    width: 30%;
}

#menu {
    border: 1px solid red;
    text-align: center;
}

#gameBlock {
    border: 1px solid black;
}

